body {
  background-color: #DCF2E8;
}

.container {
  margin: 53px 0 0 200px;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: RIGHT;
  gap: 10px;
  background-image: url(https://img.freepik.com/premium-photo/harvesting-local-berries-natural-landscape-fresh-sustainable-food-source-concept_1297718-3866.jpg);
  background-size: 50% 450px;
}
.container img {
  width: 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgba(rgb(255, 255, 255), green, blue, alpha);
  transition: all ease-in-out 0.5s;
}
.container img:hover {
  width: 35%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav {
  width: 100%;
  height: 8%;
  background-color: rgb(6, 132, 90);
  line-height: 75px;
  padding: 0px 100px;
  position: fixed;
  z-index: 1;
  background-color: rgb(20, 169, 147);
}
nav .logo {
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 2px;
}
nav .logo p {
  float: left;
  color: #fff;
  text-transform: uppercase;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a {
  color: #ffff;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 32px;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 65px;
  text-align: left;
  color: #fff;
}
.intro {
  float: inline-start;
}
.container {
  float: inline-end;
}

button {
  margin: 100px 0 0 50px;
  padding: 15px 30px;
  background-color: black;
  color: white;
  font-family: inherit;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}

.video-content-grid {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
  padding-right: 75px;

  padding: 20px 0;
}

.video-text-column {
  flex: 2;
}

.video-display {
  flex: 3;
}

.self-hosted-video {
  width: 90%;
  height: 250px;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .video-content-grid {
    flex-direction: column;
    gap: 30px;
  }
}

.main-heading {
  color: #4b0082;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 40px 0;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}



.card-wrapper {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}


.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s; 
  transform-style: preserve-3d;
}


.card-wrapper:hover .card {
  transform: rotateY(180deg);
}


.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em; 
  font-weight: bold;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box; 
}

.card-front {
  background-size: cover;
  background-position: center;
  font-size: 2em; 
}

#food-card .card-front {
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/055/928/651/small/food-notification-concept-phone-with-pizza-notification-on-screen-flat-cartoon-phone-with-food-delivery-notification-smart-phone-with-speech-bubble-and-check-mark-design-illustration-vector.jpg');
}

#health-card .card-front {
  background-image: url('https://www.iberdrola.com/documents/20125/39730/Desperdicio_Alimentario_363x205_RRSS.jpg');
}

#environment-card .card-front {
  background-image: url('https://media.istockphoto.com/id/519278869/vector/green-urban-development-concept.jpg?s=612x612&w=0&k=20&c=BnSpTtDTm4MMqo_DdOketqdirIeQpxSDCX_d7ASaS2g=');
}

.card-text {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 15px;
  border-radius: 5px;
}


.card-back {
  background-color: #0cbeac; 
  color: white;
  
  transform: rotateY(180deg);
  font-weight: normal;
  text-align: center;
}


@media (max-width: 960px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
  .card-wrapper {
    width: 90%;
    height: 200px;
    margin-bottom: 20px;
  }
}
.main-heading {
  text-align: center;
}
