body {
    font-family: 'Times New Roman', Times, serif;
    background: #DCF2E8;
    padding: 20px;
   background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url('https://thumbs.dreamstime.com/b/brightly-lit-flat-lay-features-healthy-food-items-fitness-tracker-calendar-highlights-balanced-diet-workout-378310014.jpg');
    background-size: cover;
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: aliceblue;
}


.input-box {
    background: rgb(25, 150, 161);
    padding: 15px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 10px #ddd;
    height: 200px;
}

.input-box input, 
.input-box button {
    width: 500px;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    
}

.input-box button {
    background: #20cec6;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


.cards {
    margin-top: 25px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ccc;
    position: relative;
    animation: fadeIn 0.4s ease;
}


.delete-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #e74c3c;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}


.status {
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
    font-size: 12px;
    margin-top: 8px;
    display: inline-block;
}

.green { background: #2ecc71; }
.yellow { background: #f1c40f; }
.red { background: #e74c3c; }


.alert-box {
    background: #fffbea;
    padding: 15px;
    border-left: 6px solid #f1c40f;
    border-radius: 5px;
    width: 300px;
    margin: 15px auto;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease;
}

.alert-show {
    opacity: 1 !important;
    transform: translateY(0);
}


@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}
