body {
    min-height: 100vh;
    background-color: #43e97b;
    background-image: linear-gradient(135deg, #43e97b 0%, #38f9d7 100%);
    
    font-family: 'Poppins', sans-serif;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px; 
}

.table {
    background: #DCF2E8;
    width: 300px;
    height: 500px;
    margin: 20px; 
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.table:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.content-image {
    background-color: antiquewhite;
    height: 200px; 
    width: 100%;
    background-size: cover;
    background-position: center;
}

.car-1 {
    background-image: url('https://media.sciencephoto.com/image/c0485834/800wm');
}

.car-2 {
    background-image: url('https://thumbs.dreamstime.com/b/modern-smart-kitchen-featuring-holographic-digital-interface-displaying-food-options-recipes-fresh-vegetables-herbs-398432906.jpg');
}

.car-3 {
    background-image: url('https://media.istockphoto.com/id/897019868/vector/food-drive-charity-movement.jpg?s=612x612&w=0&k=20&c=SNKsRAt8j3uoLDzeNSLY6B20NZHspXrjmrHdom5pmJo=');
}

.table h2 {
    padding: 15px 10px 5px 10px;
    text-align: center;
    font-weight: bold; 
    color: #300202;
    text-decoration: underline;
    font-size: 1.2rem;
}

.table p {
    padding: 10px 15px;
    font-size: 15px; 
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #333;
}

.card-button {
    background-color: #417ebf;
    color: white;
    text-decoration: none;
    padding: 10px 20px;

    margin: auto 20px 30px 20px; 
    display: block;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.card-button:hover {
    background-color: #0c4481;
}