


body {
    background-color: rgb(216, 247, 162);
}
 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.table {
    background: #DCF2E8 ;
    width: 300px; 
    height: 500px;
    margin: 100px;
    border-radius: 30px;
    display: flex; 
    flex-direction: column;
    /* border: 10px solid #000000;  */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.table:hover {
    transform: scale(1.3); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.content-image {
    background-color: antiquewhite;
    height: 500px;
    margin-bottom: 5px; 
    background-size: cover;
    background-position: center; 
    overflow: hidden; 
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    
}
.car-1 {
    background-image: url('https://media.sciencephoto.com/image/c0485834/800wm');
}

.car-2 {
    background-image: url('https://thumbs.dreamstime.com/b/modern-smart-kitchen-featuring-holographic-digital-interface-displaying-food-options-recipes-fresh-vegetables-herbs-398432906.jpg');
}

.car-3 {
    background-image: url('https://media.istockphoto.com/id/897019868/vector/food-drive-charity-movement.jpg?s=612x612&w=0&k=20&c=SNKsRAt8j3uoLDzeNSLY6B20NZHspXrjmrHdom5pmJo=');
}


.table h2 {
    padding: 10px;

}
.table p {
    padding: 0 10px;
}


.card-button {
    background-color: #417ebf; 
    color: white;
    text-decoration: none; 
    padding: 10px 20px;
    margin: 15px 15px 20px 15px; 
    display: block; 
    text-align: center;
    border-radius: 5px;
    margin-top: auto; 
}

.card-button:hover {
    background-color: #0c4481;
}

.table h2 {
    text-align: center;
    font-weight: 400px;
    color: #300202;
    text-decoration: underline;
}
.table p{
    font-size: 17px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}


